<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Employee</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>All Students Page</h1>
    <h5>Name :<%= employee.name %></h5>
    <p>Age :<%= employee.age %></p>
    <p>Phone : <%= employee.phone %></p>
    <p>Address : <%= employee.address %></p>
    <a href="/employees/<%= employee._id %>/edit">Edit</a>
    <form action="/employees/<%= employee._id %>?_method=delete" method="post">
      <button>Delete</button>
    </form>
    <hr />
  </body>
</html>
